@model IEnumerable<WebShop.Core.ViewModels.ProductListViewModel>
@{ ViewBag.Title = "Index"; }
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th class="bg-danger text-white">
            Discounted Price
        </th>
        <th class="bg-danger text-white">
            Discount %
        </th>
        <th class="bg-danger text-white">
            Discount Starts
        </th>
        <th class="bg-danger text-white">
            Discount Ends
        </th>

        <th>
            Actions
        </th>
    </tr>


    @foreach (var item in Model)
    {

        var tdBackground = item.Sale != null && item.Sale.Discount > 0 ? "bg-danger" : "bg-default";
        
<tr>
    <td>
        <img src="~/Content/img/products/@item.Product.Image" alt="Alternate Text" width="80" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Category.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Product.Price)
    </td>
    <td class="@tdBackground text-white">

        @String.Format("{0:c}", item.Sale == null ? item.Product.Price : item.Product.Price * (item.Sale.Discount / 100))
    </td>
    <form action="/ProductManager/Sale" method="post">
        <td class="@tdBackground">
            <input type="hidden" id="Product "name="Product" value="@item.Product.ToString()" />
            <input type="hidden" id="ProductId" name="ProductId" value="@item.Product.Id" />
            <input type="hidden" id="Id" name="Id" value="@item.Sale.Id" />
            <input type="text" Id="Discount "name="Discount" value="@item.Sale.Discount" class="form-control form-control-sm" />
        </td>
        <td class="@tdBackground">


            <input type="date" id="Start" name="Start" value="@item.Sale.Start.ToString("yyyy-MM-dd")" class="form-control form-control-sm" />
        </td>
        <td class="@tdBackground d-flex flex-row justify-content-between">
            <input type="date" id="End" name="End" value="@item.Sale.End.ToString("yyyy-MM-dd")" class="form-control form-control-sm" />
            <button class="btn btn-sm btn-success">U</button>
        </td>
    </form>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Product.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Product.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Product.Id })
        </td>
</tr>
            
       
    }

    </table>
