@model WebShop.Core.Models.Contact
@using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <h2>@ViewBag.Title Contact Details</h2>
    <!--<h3>@ViewBag.Message</h3>-->
<address>
    Happy Homes Bålsta<br />
    Stockholmsvägen 113, 746 32 Bålsta<br />
    <abbr title="Phone">P:</abbr>
    0171-46 77 81
</address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@happyhomes.com</a><br />

        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@happyhomes.com</a>
    </address>
    <!--My changes-->
    <body class="contact-body">
    </body>
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact" />
        </div>
        <form method="post">
            <h3>Drop Us a Message</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <!--  <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />-->
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <!--   <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />-->

                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <!--  <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />-->

                            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!--    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>-->
                                @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Create" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="color:green">
                                @ViewBag.Message

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
<!--required js-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
