@model IEnumerable<WebShop.Core.Models.ProductCategory>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    

    @foreach (var p in Model)
    {
        if (p.ParentId == null)
        { 
        <tr>
            <td style="color:darkred">
                @Html.DisplayFor(modelItem => p.Category)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = p.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = p.Id })
            </td>
        </tr>
        

        foreach (var sub in Model.Where(a=> a.ParentId == p.Id))
        {
           
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => sub.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = sub.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = sub.Id })
                </td>
            </tr>
             
        }

        }
    }

</table>
