@using Microsoft.AspNet.Identity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width  initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - Happy homes</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @*<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">*@
        <nav class="navbar navbar-expand-sm bg-info navbar-dark  fixed-top">
            <a class="navbar-brand" href="#">
                <img src="~/App_Start/logo.png" width="40" height="40" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @Html.ActionLink("Happy Homes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


            <div class="collapse navbar-collapse" id="navbarResponsive">


                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item"><a href="#" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="/account/login" class="nav-link">Login</a></li>*@

                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Contact/Create" class="nav-link">Contact</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a href="/ProductManager" class="dropdown-item">Products</a>
                            <a href="/ProductCategoryManager" class="dropdown-item">Categories</a>
                        </div>
                    </li>
                </ul>
                @{
                    Html.RenderAction("BasketSummary", "Basket");
                }


                @* @Html.Partial("_LoginPartial");*@

                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>

                    }
                }
                else
                {

                    <ul class="navbar-nav ">

                        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>

                        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }

                <form class="form-inline" action="/action_page.php">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-success" type="submit">Search</button>
                </form>

            </div>
        </nav>

    </div>


    <div class="container body-content ">
        @RenderBody()
        <footer class="py-1 bg-info fixed-bottom">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; @DateTime.Now.Year - Happy Homes</p>
            </div>
            <!-- /.container -->
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @section Styles {
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    }
    @RenderSection("scripts", required: false)
</body>
</html>

